node_modules/
.git/
.gitignore
.npmrc
.env
test/
tests/
__tests__/
coverage/
.nyc_output/
.github/
examples/
samples/
docs/
doc/
.vscode/
jest.config.js
.editorconfig
.eslint.config.mjs
.eslintrc
.eslintrc.js
.eslintrc.json
.prettierrc
.prettierrc.js
.prettierrc.json
tsconfig.json
CONDUCT.md
build/
dist/